<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRC-KNEE</title>
    <link rel="stylesheet" href="/knee/knee/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="left-column">
            <!-- Thêm 3 ảnh logo công ty phía trên tiêu đề -->
            <div class="logos">
                <img src="/knee/knee/static/images/logo_airc.png" alt="Logo 1" class="logo">
                <img src="/knee/knee/static/images/logo_iti.png" alt="Logo 2" class="logo">
                <img src="/knee/knee/static/images/logo_byt.png" alt="Logo 3" class="logo">
            </div>
            
            <h1>AIRC - VNU Diagnosis System</h1>
            <h3>Hệ thống chẩn đoán thoái hóa khớp gối</h3>
            <!-- Thêm thuộc tính href để chuyển hướng tới trang đăng nhập -->
            <a href="" class="try-btn">Bắt đầu dùng thử hệ thống</a>
        </div>
        <div class="right-column">
            <img class="overlay" src="/knee/knee/static/images/overlay.jpg" alt="Hình ảnh overlay">
        </div>
    </div>
</body>
</html>