<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRC-KNEE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages_base/information.css') }}">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>Giới thiệu về bệnh thoái hóa khớp gối</h1>
        </div>

        <section class="intro">
            <h3>1. Giới thiệu về bệnh viêm khớp ở đầu gối</h3>
            <p><strong>Viêm khớp (Viêm xương khớp)</strong> là một bệnh thoái hóa khớp phổ biến được đặc trưng bởi sự phân hủy sụn ở đầu gối. Nó gây đau, cứng, sưng và có thể ảnh hưởng đáng kể đến chất lượng cuộc sống.</p>
            <p>Phân tích này nhằm mục đích cung cấp cái nhìn sâu sắc về mức độ nghiêm trọng của bệnh viêm khớp ở đầu gối và tác động của nó đến cuộc sống hàng ngày của bệnh nhân.</p>
        </section>

        <section class="severity">
            <h3>2. Mức độ nghiêm trọng của bệnh viêm khớp gối</h3>
            <ul>
                <p><strong> Nhiều biến thể của hệ thống phân loại Kellgren và Lawrence đã được sử dụng trong nghiên cứu. Dưới đây là mô tả ban đầu cho chẩn đoán qua hình ảnh:</strong></p>
                <li><strong>Nhẹ nhàng (I)</strong>: Nghi ngờ hẹp khe khớp và có thể có gờ xương.</li>
                <li><strong>Trung bình (II)</strong>: Có gai xương rõ ràng và có thể hẹp khe khớp.</li>
                <li><strong>Nặng (III)</strong>: Nhiều gai xương trung bình, hẹp khe khớp rõ rệt, một số xơ cứng và có thể biến dạng đầu xương.</li>
                <li><strong>Giai đoạn cuối (IV)</strong>: Gai xương lớn, hẹp đáng kể khoảng cách giữa các khớp rõ rệt, một số xơ cứng và có thể biến dạng đầu xương.</li>
            </ul>
            <img src="static/images/knee.jpg" alt="Bệnh thoái hóa khớp gối" class="image-caption">
        </section>

        <section class="treatment">
            <h3>3. Các lựa chọn phân tích và điều trị</h3>
            <ul>
                <li><strong>Chẩn đoán</strong>: Khám lâm sàng kỹ lưỡng, chụp X quang và chụp MRI được sử dụng để đánh giá mức độ nghiêm trọng của bệnh viêm khớp gối.</li>
                <li><strong>Sự đối đãi</strong>: 
                    <ul>
                        <li><strong>Không phẫu thuật</strong>: Vật lý trị liệu, dùng thuốc (giảm đau) và thay đổi lối sống.</li>
                        <li><strong>Phẫu thuật</strong>: Trong trường hợp viêm khớp nặng, có thể cần phải phẫu thuật thay khớp gối.</li>
                    </ul>
                </li>
            </ul>
        </section>
        
    </div>
</body>
</html>
