<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRC-KNEE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages_base/menu.css') }}">
</head>
<body>
    <!-- Thanh cố định phía trên -->
    <header class="header">
        <h1>AIRC - VNU Diagnosis System</h1>
    </header>

    <div class="main-container">
        <!-- Thanh menu bên trái -->
        <nav class="sidebar">
            <h2>
                Menu
            </h2>
            <ul>
                <li><a href="{{ url_for('information') }}" target="content-frame">Giới thiệu</a></li>
                <li><a href="{{ url_for('knee_detection') }}" target="content-frame">Chẩn đoán thoái hóa khớp gối</a></li>
                <li><a href="{{ url_for('logout') }}" onclick="clearHistory()">Đăng xuất</a>
                    <script>
                        function clearHistory() {
                            history.pushState(null, null, window.location.href);
                        }
                    </script>
                </li>
            </ul>
        </nav>

        <button class="menu-toggle" onclick="toggleMenu()">☰</button>

        <!-- Khung iframe để hiển thị nội dung được chọn -->
        <iframe name="content-frame" class="iframe" src="{{ url_for('information') }}"></iframe>
    </div>

    <script>
        function toggleMenu() {
            const sidebar = document.querySelector('.sidebar');
            const toggleButton = document.querySelector('.menu-toggle');
            const mainContainer = document.querySelector('.main-container');

            sidebar.classList.toggle('hidden');
            toggleButton.classList.toggle('collapsed');
            mainContainer.classList.toggle('menu-hidden');
        }
    </script>
</body>
</html>